body {
	background-color: #000;
}

#console {
	font-family: courier, monospace;
	color: #fff;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:0.875em;
}

a {
	color: rgb(69, 255, 0);
	text-decoration: none;
}

#a {
	color: #c800ff;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#m {
	color: #c800ff;
	font-weight: bold;
}

#k {
	animation: change 1s;
	font-weight: bold;
	font-size: 1.18em;
	animation-iteration-count: infinite;
}

#op{
    color: #888888;
}

@keyframes change {
	0%  { color:  #c800ff; }
	/* 25% { color: #000; } */
	50% { color: #000; }
	/* 75% { color: #000; } */
	100% { color: #c800ff; }
}

#indo {
	animation: indonesia 1s;
	animation-iteration-count: infinite;
}

#sing {
	animation: singapore 1s;
	animation-iteration-count: infinite;
}

#n {
	/* color: #c800ff; */
	/* font-weight: bold; */
}

#n:before {
	content: "Welcome!";
	-webkit-animation-name: welcome;
	-webkit-animation-duration: 10s;
	animation-name: welcome;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	/* font-style: oblique; */
	font-weight: bold;
}

@keyframes indonesia {
	0%  { color:  #f00; }
	49% { color:  #fff; }
	50% { color: #fff; }
	100% { color: #f00; }
}

@keyframes singapore {
	0%  { color:  #fff; }
	49% { color:  #f00; }
	50% { color: #f00; }
	100% { color: #fff; }
}

@keyframes welcome {
	0% {content: "Welcome!";}
	10% {content: "Selamat Datang!";}
	20% {content: "ようこそ！";}
	30% {content: "欢迎观临！";}
	40% {content: "환영합니다！";}
	50% {content: "¡Bienvenido!";}
	60% {content: "Herzlich Willkommen!";}
	70% {content: "Bienvenue!";}
	80% {content: "Välkommen!";}
	90% {content: "Добро пожаловать！";}
}